/* lists */
ul.liinline {
	margin: 0;
	padding: 0;
}

ul.liinline li {
	display: inline;
	margin: 0;
	padding: 0 0.25em;
}

.nobullet { list-style: none; }
.bold { font-weight: bold; }

/* Used by tree menu layout */
ul ul { margin-top: 0; margin-bottom: 0; }
.tree li { list-style: none; }

ul li span {
font-weight: bold;
}
ul ul li span {
font-weight: normal;
}
/* end */


.orgTBox {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	width: 100px;
	height: 50px;
	margin: 0px 5px 0px 5px;
	padding:6px 10px; 

	overflow: hidden;
	text-align: center;
}
.orgTBoxLight {
	background:#F0F0F0 none repeat scroll 0 0;
	border:1px solid #CCCCCC;
}
.orgTBoxDark {
	background:#FAFAFA none repeat scroll 0 0;
	border:1px solid #555555;
}
.orgTBoxRed {
	background:#FBFB77 none repeat scroll 0 0;
	border:1px solid #AA0000;
}
.orgTBoxPhoto {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	width: 100px;
	height: 106px;
	margin: 0px 5px 0px 5px;
	padding:0px 10px 6px 10px; 

	overflow: hidden;
	text-align: center;
}

.postit {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(postit_short.png) no-repeat scroll 0 0;
}

.tipBox {
	width: 175px;
	height: 75px;
	margin: 0px 5px 0px 5px;
	padding:50px 30px 30px 30px;	
}
